
body {
  margin: 0;
  padding: 0;
}

header{
  height: 100px;
  background-color: #232323;
  grid-area: header;
}

a:link,a:visited{
  background-color:white;
  text-decoration:none;
  color: black;
}

#pacman{
width: 100%;
height: 100%;
background-color: black;
grid-area: pacman;
display: flex;
flex-direction: column;
align-items: center;
}

#titelpac{
  width: 200px;
  height: 50px;
  padding-bottom: 10px;
  margin: 20px;
  background-color: Pink;
  text-align: center;
}

#bildpac{
  width: ;
  height: ;
  padding-bottom: ;
  margin: 20px;
  background-color: Pink;
}

#infopac{
  padding-left: 20px;
  padding-right: 20px;
  margin: 20px;
  border-radius: 40px;
  background-color: Pink;
}

#länkarpac{
  width: 100%;
  height: 100%;
  background-color: Blue;
  display: flex;
  flex-direction: row;
  align-items: ;
  justify-content: space-evenly;
}

#merpac{
padding: 1px;
padding-left: 20px;
padding-right: 20px;
background-color: #FFFFFF ;
}
#merpac:hover{
  background-color: #CCCCCC;
}

#downloadpac{
padding: 1px;
padding-left: 20px;
padding-right: 20px;
background-color: #FFFFFF;
}
#downloadpac:hover{
  background-color: #CCCCCC;
}

#leveleditor{
  width: 100%;
  height: 100%;
  background-color: #FFFE00;
  grid-area: leveleditor;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#titeledit{
  width: 200px;
  height: 50px;
  padding-bottom: 10px;
  margin: 20px;
  background-color: Pink;
  text-align: center;
}

#infoedit{
  padding-left: 20px;
  padding-right: 20px;
  margin: 20px;
  background-color: Pink;
  border-radius: 40px;
}

#länkaredit{
  width: 100%;
  height: 100%;
  background-color: Green;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#meredit{
  padding: 1px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #FFFFFF;
  text-align: center;
}
#meredit:hover{
  background-color: #CCCCCC;
}

#downloadedit{
  padding: 1px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #FFFFFF;
  text-align: center;
}
#downloadedit:hover{
  background-color: #CCCCCC;
}

#kontaktinfo{
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
  padding-left: 20px;
  background-color: Grey;
  grid-area: kontakta;
}

ul.kontakter{
  list-style-type: circle;
}

h2.morekontakt{
  padding-top: 10px;
  padding-left: 20px;
}

h3.facebook:hover{
color: Blue;
}
h3.twitter:hover{
color: Blue;
}
h3.instagram:hover{
color: Blue;
}
h3.youtube:hover{
color: Blue;
}
h3.twitch:hover{
color: Blue;
}

footer{
  width: 100%;
  height: 30px;
  background-color: #232323;
  grid-area: footer;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3.copyright{
margin: 0;
}


.grid-container {
  height:100%;
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "pacman pacman pacman leveleditor leveleditor leveleditor"
    "kontakta kontakta kontakta kontakta kontakta kontakta"
    "footer footer footer footer footer footer"
    ;
}
